header {
    text-align: center;
    font-size: 2.5em;
    color: #fff;
    background-color: #424240;
    padding: 20px;
    width: 100%;
}

#history-container {
    display: flex;
}

.input-group {
    width: 20%;
}

#history-block {
    display: flex;
    flex-direction: column;
}
.history-row {
    border: 1px solid black;
    width: 20%;
    padding: 5px;
    text-align: center;
}

#display-current {
    float: right;
    border: 1px solid gray;
    border-radius: 2%;
    padding: 15px;

}

.five-day {
    background-color: #3B7AEA;
    border: 1px solid #3B63EA;
    color: white;
    border-radius: 2%;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    text-align: center;
    margin-left: 20px;
}