* {
    box-sizing: border-box;
}

header {
    text-align: center;
    font-size: 2.5em;
    color: #fff;
    background-color: #424240;
    padding: 20px;
    width: 100%;
}

/* main grid container */
.grid-container {
    display: grid;
    grid-template-columns: 20% 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
    padding: 10px;
}

.sub-grid-container {
    display: grid;
    grid-template-columns: 100%;
}

/* main div for form */
#form-div {
    grid-column-start: 1;
    grid-column-end: 2;
}

#history-block {
    /* display: flex; */
    /* flex-direction: column; */
    grid-column-start: 1;
    grid-column-end: 2;
}

.history-row {
    border: 1px solid lightgray;
    width: 100%;
    padding: 5px;
    text-align: center;
}

/* main div for current weather */
#display-current {
    grid-column-start: 2;
    grid-column-end: 3;
    border: 1px solid lightgray;
    border-radius: 2%;
    visibility: hidden;
    padding: 30px;
}

/* main div for five-day */
#five-day {
    grid-column-start: 2;
    grid-column-end: 4;
    border: 1px solid lightgray;
    padding: 30px;
    visibility: hidden;
}

.five-day {
    background-color: #3B7AEA;
    border: 1px solid #3B63EA;
    color: white;
    border-radius: 2%;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    text-align: center;
    margin-left: 20px;
    margin-top: 30px;
}